@import url("https://fonts.googleapis.com/css?family=Barlow:100,300,300i,400,400i,500,600,600i,700,700i,800&subset=latin-ext");

.head {
    background-size: cover;
    width: 100%;
    height: 500px;
    background-repeat: no-repeat;
    -webkit-box-align: center;
    -ms-flex-align: center;
    align-items: center;
    padding-top: 50px;
    color: #fff;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-pack: center;
    -ms-flex-pack: center;
    justify-content: center;
    text-align: center;
}

    .head .content p {
        margin: 30px 0 30px 0;
    }

.side-status {
    border: 1px solid #ccc;
    margin-top: 40px;
    padding-bottom: 20px;
    margin-bottom: 60px;
}

    .side-status .info {
        text-align: center;
        background-color: white;
        width: 200px;
        margin: auto;
        margin-top: -20px;
    }

    .side-status .blue {
        color: #032d78;
        font-weight: 600;
    }

    .side-status .date {
        color: #5d5b5b;
        font-weight: 600;
        font-size: 10px;
        margin-bottom: 25px;
    }

    .side-status .item {
        position: relative;
        padding-top: 9px;
        margin: auto;
        width: 175px;
        margin-bottom: 15px;
        text-align: left;
    }

        .side-status .item .icon {
            float: left;
            margin-right: 5px;
        }

        .side-status .item .quality-txt {
            color: #5d5b5b;
            font-size: 8px;
        }

        .side-status .item .quality {
            color: #032d78;
            font-size: 13px;
            font-weight: 600;
            margin-top: -1px;
        }

    .side-status .value {
        color: #032d78;
        font-size: 24px;
        font-weight: 100;
        margin-top: -7px;
        margin-left: 10px;
        white-space: nowrap;
        text-align: right;
    }

        .side-status .value sup {
            position: relative;
            left: -5px;
            top: 3px;
        }

        .side-status .value img {
            width: 10px;
        }

    .side-status .days-info-container {
        width: 220px;
    }

    .side-status .days-info {
        margin-left: 19px;
    }

        .side-status .days-info .medium {
            font-size: 10px;
            margin-bottom: 10px;
            text-align: left;
        }

        .side-status .days-info .value {
            margin-left: 0;
            text-align: left;
            font-family: "Barlow", sans-serif;
            font-weight: 100;
        }

.detail {
    padding-top: 35px;
}

    .detail .content-title {
        color: #032d78;
        font-size: 19px;
        font-weight: 900;
        font-family: "Barlow", sans-serif;
        margin-bottom: 0;
    }

.contact {
    font-size: 14px;
}

.right-button {
    float: right;
    margin-top: 45px;
}

.contact-section {
    margin-bottom: 25px;
}

.company-box {
    width: 100%;
    height: 360px;
    position: relative;
    background: center no-repeat;
    margin-bottom: 30px;	    
    background-position: center;
	overflow:hidden;
	
}
.company-box .bgImg{object-fit: cover; width: 100%; height: 100%;}
.company-box:hover .bgImg{transition: all .3s ease; transform:scale(1.1);}
    .company-box > div {
        position: absolute;
        bottom: 25px;
        left: 25px;
        color: #fff;
    }

        .company-box > div img {
            position: relative;
            top: 1px;
            left: 5px;
        }

    .company-box .box-title {
        font-size: 30px;
        font-weight: bold;
        margin-bottom: 10px;
    }

    .company-box .moreTxt {
        font-size: 12px;
        font-weight: 500;
    }

.certificate-pdf .content-title {
    margin-top: -10px;
}

    .certificate-pdf .content-title span {
        font-weight: 400;
        font-size: 13px;
    }

.certificate-pdf .date {
    font-size: 12px;
}

.certificate {
    height: 250px;
    width: 100%;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-pack: center;
    -ms-flex-pack: center;
    justify-content: center;
    -webkit-box-align: center;
    -ms-flex-align: center;
    align-items: center;
    border: 2px solid #032d78;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
    -ms-flex-direction: column;
    flex-direction: column;
    position: relative;
    margin-bottom: 30px;
}

    .certificate img {
        width: 100px;
    }

    .certificate.pdf-container {
        height: auto;
    }

        .certificate.pdf-container .bot {
            left: -1px;
            bottom: 0;
            right: -2px;
            background: url("../images/overlay.png") no-repeat;
            background-size: 100% 100%;
            -webkit-box-align: center;
            -ms-flex-align: center;
            align-items: center;
            -webkit-box-pack: end;
            -ms-flex-pack: end;
            justify-content: flex-end;
            display: -webkit-box;
            display: -ms-flexbox;
            display: flex;
            -webkit-box-orient: vertical;
            -webkit-box-direction: normal;
            -ms-flex-direction: column;
            flex-direction: column;
            height: 0;
            -webkit-transition: all 0.5s;
            transition: all 0.5s;
            overflow: hidden;
            padding: 0;
        }

        .certificate.pdf-container:hover .bot {
            height: 180px;
            padding-bottom: 20px;
        }

        .certificate.pdf-container .bot:after, .certificate.pdf-container .bot:before {
            display: none;
        }

    .certificate .pdf-img {
        width: 90%;
    }

    .certificate .bot {
        position: absolute;
        left: 23px;
        bottom: 23px;
        color: #032d78;
        font-weight: 700;
        font-size: 14px;
    }

        .certificate .bot:before {
            width: 30px;
            height: 2px;
            background: #032d78;
            display: block;
            content: "";
            float: left;
            margin-top: 8px;
            margin-right: 10px;
        }

        .certificate .bot:after {
            content: "";
            display: block;
            width: 8px;
            height: 12px;
            background: url("../images/blue-right-chevron.png") no-repeat;
            background-size: 100% 100%;
            float: right;
            margin-top: 3px;
            margin-left: 7px;
        }

.card-section {
    width: 100%;
    height: 140px;
    border: 5px solid #032d78;
    padding: 15px;
    position: relative;
}

    .card-section .card-title {
        color: #032d78;
        font-size: 24px;
        font-weight: 800;
    }

    .card-section .bot {
        bottom: 15px;
        left: 15px;
        font-size: 12px;
    }

        .card-section .bot:before {
            width: 25px;
            margin-top: 7px;
            margin-right: 6px;
        }

        .card-section .bot:after {
            width: 7px;
            height: 10px;
        }

    .card-section img {
        width: 40px;
        position: absolute;
        right: 15px;
        bottom: 15px;
    }

    .card-section.dark {
        background-color: #032d78;
    }

        .card-section.dark .card-title {
            color: #fff;
        }

        .card-section.dark .bot {
            color: #fff;
            font-weight: 400;
        }

            .card-section.dark .bot:before {
                background-color: #fff;
            }

            .card-section.dark .bot:after {
                background-image: url("../images/white-right-chevron.png");
            }

        .card-section.dark img {
            width: 80px;
            bottom: 10px;
        }

.new-card {
    margin-bottom: 25px;
    min-height: 325px;
}

    .new-card > div img {
        float: left;
        margin-right: 15px;
        width: 45px;
    }

    .new-card .card-title {
        color: #032d78;
        font-weight: bold;
    }

        .new-card .card-title span {
            color: #4c4c4c;
            font-size: 12px;
            font-weight: 500;
        }

    .new-card .news-img {
        margin-top: 15px;
        position: relative;
        display: table;
    }

        .new-card .news-img img {
            width: 100%;
            height: 100%;
        }

        .new-card .news-img .overlay {
            z-index: 9;
            position: absolute;
            top: 0;
            left: 0;
            width: 100%;
            height: 0;
            -webkit-transition: height 0.5s;
            transition: height 0.5s;
            display: -webkit-box;
            display: -ms-flexbox;
            display: flex;
            -webkit-box-pack: center;
            -ms-flex-pack: center;
            justify-content: center;
            -webkit-box-align: center;
            -ms-flex-align: center;
            align-items: center;
            overflow: hidden;
        }

            .new-card .news-img .overlay:before {
                content: "";
                background-color: #032d78;
                position: absolute;
                top: 0;
                left: 0;
                width: 100%;
                height: 100%;
                opacity: 0.8;
            }

            .new-card .news-img .overlay:after {
                content: "";
                display: block;
                width: 45px;
                height: 45px;
                background: url("../images/link-icon.png") no-repeat;
                background-size: 100% 100%;
                position: relative;
                z-index: 9;
            }

        .new-card .news-img:hover .overlay {
            height: 100%;
        }

    .new-card p {
        margin-top: 10px;
        font-weight: 400;
        font-size: 15px;
    }

.content-row {
    margin-top: 55px;
}

.table {
    width: 100%;
}

    .table tbody:before {
        line-height: 1em;
        content: "\200C";
        display: block;
    }
    .table thead tr th {
        border-bottom: 1px solid #e5e5e5;
		padding: 10px 0 10px 0;
        
    }
    .table tbody tr td {
        border-bottom: 1px solid #e5e5e5;
        padding: 10px 0 10px 0;
    }

.left-aside ul li {
    padding: 15px 0 15px 10px;
    border-bottom: 1px solid #032d78;
}

    .left-aside ul li a {
        color: #032d78;
    }

    .left-aside ul li.active {
        background-color: #032d78;
    }

        .left-aside ul li.active a {
            color: #fff;
        }

.chevron-icon {
    width: 110px;
    display: block;
    margin: 40px auto;
}

.pagination {
    /*width: 285px;*/
    float: right;
}

    .pagination .left-arrow, .pagination .right-arrow {
        margin-top: 22px;
        cursor: pointer;
    }

    .pagination .left-arrow {
        float: left;
    }

    .pagination .right-arrow {
        float: right;
    }

    .pagination ul {
        float: left;
        padding-left: 0;
        margin-right: 10px;
        margin-left: 10px;
    }

        .pagination ul li {
            float: left;
            width: 38px;
            height: 33px;
            border: 1px solid #032d78;
            border-right: none;
            text-align: center;
            padding: 5px;
            color: #032d78;
            cursor: pointer;
        }
        .pagination ul li a{font-weight:500;width: 100%;float: left;height: 100%;}
            .pagination ul li.active {
                background-color: #032d78;
                color: #fff;
            }

                .pagination ul li.active a {
                    color: #fff;
                }

            .pagination ul li:last-child {
                border-right: 1px solid #032d78;
            }

.circle-icon {
    width: 55px;
    margin-right: 15px;
}

.filter-list {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
}

    .filter-list > div {
        margin-right: 15px;
        width: 100px;
        text-align: center;
        position: relative;
        display: -webkit-box;
        display: -ms-flexbox;
        display: flex;
        -webkit-box-orient: vertical;
        -webkit-box-direction: normal;
        -ms-flex-direction: column;
        flex-direction: column;
        -webkit-box-pack: center;
        -ms-flex-pack: center;
        justify-content: center;
        -webkit-box-align: center;
        -ms-flex-align: center;
        align-items: center;
    }

        .filter-list > div:after {
            content: "";
            display: block;
            width: 1px;
            height: 85px;
            background-color: #032d78;
            position: absolute;
            right: -8px;
            top: 7px;
        }

        .filter-list > div:last-child:after {
            display: none;
        }

        .filter-list > div img {
            width: 55px;
            margin-bottom: 10px;
        }

        .filter-list > div .name {
            color: #032d78;
            font-weight: 700;
            font-size: 12px;
        }

.search-container {
    margin: 35px 0 35px 0;
    position: relative;
}

    .search-container input {
        width: 100%;
        height: 50px;
        border: 2px solid #032d78;
        padding-left: 10px;
        font-size: 15px;
        font-weight: 400;
    }

        .search-container input::-webkit-input-placeholder {
            color: #babeca;
            font-weight: 300;
        }

        .search-container input:-ms-input-placeholder {
            color: #babeca;
            font-weight: 300;
        }

        .search-container input::-ms-input-placeholder {
            color: #babeca;
            font-weight: 300;
        }

        .search-container input::placeholder {
            color: #babeca;
            font-weight: 300;
        }

        .search-container input:focus {
            outline: none;
        }

    .search-container img {
        position: absolute;
        right: 25px;
        top: 10px;
        width: 28px;
    }

.table.products {
    font-size: 14px;
}

    .table.products .col1 {
        width: 41%;
    }

    .table.products .col2 {
        width: 20%;
    }

    .table.products .col3 {
        width: 17%;
    }

    .table.products .col4 {
        width: 10%;
    }
	
	.newsitem{min-height:440px;}
/*added*/
.card-section:hover{
    background-color: #032d78;
  }
  .card-section:hover .card-title{
    color: #fff;
  }
.card-section:hover .card-title:hover{
  color: #fff;
}
.card-section:hover .bot{
  color: #fff;
}
.card-section .bot:before {color: #032d78; background-color: #032d78 !important;}
.card-section .bot:after {background-image: url("/assets/images/blue-right-chevron.png") !important; }
.card-section:hover .bot:before {background-color: #fff !important; }
.card-section:hover .bot:after {background-image: url("/assets/images/white-right-chevron.png") !important; }
@media screen and (max-width: 767px) {
  .company-box {
    margin-bottom: 17px;
	background-size:cover;
  }
  .card-section {
    margin-bottom: 12px;
  }
  .newsitem{min-height:380px;}
}


/*-----------*/


/*# sourceMappingURL=detail.css.map */
